<footer class="bg-dark text-white text-center p-4">
    <div class="container">
        <h5>Дисклеймер: Информация предоставлена в рамках учебного проекта и может не быть достоверной.</h5>
        <h5>Disclaimer: This information is provided as part of an educational project and may not be accurate.</h5>
        <p>&copy; 2024 Films Django. Все права защищены.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#" class="text-white">Политика конфиденциальности</a></li>
            <li class="list-inline-item"><a href="#" class="text-white">Контакты</a></li>
        </ul>
    </div>
</footer>